MONGO_URI = Your mongo uri
JWT_SECRET = Your jwt secret
CLOUDINARY_CLOUD_NAME= cloudinary cloud name
CLOUDINARY_API_SECRET = cloudinary api secret
CLOUDINARY_API_KEY = cloudinary api key
GEMINI_API_KEY = gemini api key